*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: "light";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@font-face {
  font-family: "black";
  src: url(./componentes/fonts/Montserrat-Black.otf);
}
@font-face {
  font-family: "extraBold";
  src: url(./componentes/fonts/Montserrat-ExtraBold.otf);
}
@font-face {
  font-family: "bold";
  src: url(./componentes/fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: "light";
  src: url(./componentes/fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: "medium";
  src: url(./componentes/fonts/Montserrat-Medium.otf);
}
@font-face {
  font-family: "regular";
  src: url(./componentes/fonts/Montserrat-Regular.otf);
}
body{
  background-image: url('./componentes/fondo.png');
  background-position: top;
  background-size:cover;
  width: 100vw;
}

nav{
  position: absolute;
  top: 0px;
  left: -100vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  height: 100vh;
  gap: 15px;
  z-index: 3;
  transition: 1s;
}
article{
  padding: 2%;
  display: grid;
  width: auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 2%;
  row-gap: 20px;
}
article img{
  width: 100%;
}
a{
  font-family: "bold";
  color: black;
  text-decoration: none;
}
button{
  position: absolute;
  top: 6.5vw;
  right: 2vw;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 7vw;
  height: auto;
}
button span{
  border-radius: 5px;
  background-color: black;
  display: block;
  width: 100%;
  height: 0.8vw;
  margin: 1vw auto;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

button.open .linea1{
  animation-name: linea1;
}
button.open .linea2{
  animation-name: linea2;
}
button.open .linea3{
  animation-name: linea3;
}
h1{
  font-family: "medium";
  text-decoration: underline;
  font-size: 6vw;
  width: 100vw;
  position: absolute;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 5px;
  padding-left: 10vw;
}
main{
  width: 100vw;
}
ul{
  font-size: 3vw;
  list-style: none;
  animation: aparecerLateralI2 3s forwards;
}
li{
  font-family: "medium";
}
footer{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
}
.desplegado{
  left: 0px;
}
.linea1{
  animation-name: linea1Cerrado;
}
.linea2{
  animation-name: linea2Cerrado;
}
.linea3{
  animation-name: linea3Cerrado;
}
.articulos{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.titulo{
  width: 100vw;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation: aparecer 2s forwards;
}

.flecha{
  width: 100vw;
}
.img1{
  width: 45vw;
  height: auto;
  border-bottom-right-radius: 20px;
  animation: aparecerLateralI 3s forwards;
  z-index: 1;
}
.img2{
  width: 90vw;
  height: auto;
  animation: aparecerLateralI2 3s forwards;
}
.articulo1{
  display: flex;
  gap: 4%;
  width: 100vw;
  justify-content: flex-start;
}
.imgFooter{
  width: 30%;
  height: 100%;
}
.img3{
  width: 50%;
  border-radius: 10px;
}

.logo{
  width: 100%;
}
.nav2{
  display: none;
}

.wap img{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px black;
  animation: wap 4s forwards;
  transition: 0.2s;
}
.wap img:hover{
  filter: opacity(1);
  filter: saturate(1.5);
}
.mensajew{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 25px;
  right: 15px;
}
.mensaje{
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 55px;
  right: 6px;
  font-family: "medium";
  font-size: 18px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  animation: cabi 8s forwards;
  z-index: 0;
}
@keyframes linea1 {
  50%, 100%{
    margin: 0 auto;
    transform: translateY(2.5vw) rotate(-45deg);
  }
}
@keyframes linea3 {
  50%, 100%{
    margin: 0 auto;
    transform: translateY(1vw) rotate(45deg);
  }
}
@keyframes linea2 {
  50%, 100%{
    margin: 0 auto;
    opacity: 0;
  }
}
@keyframes linea1Cerrado {
  0%{
    margin: 0 auto;
    transform: translateY(2.5vw) rotate(-45deg);
  }
  50%, 100%{
    margin: 1vw auto;
    transform: translateY(0) rotate(0);
  }
}
@keyframes linea3Cerrado {
  0%{
    margin: 0 auto;
    transform: translateY(-1.5vw) rotate(45deg);
  }
  50%, 100%{
    margin: 1vw auto;
    transform: translateY(0) rotate(0);
  }
}
@keyframes linea2Cerrado {
  0%{
    margin: 1vw auto;
    opacity: 0;
  }
  50%, 100%{
    margin: 0 auto;
    opacity: 1;
  }
}
@keyframes aparecer {
  0%{
    filter: opacity(0%);
  }
  100%{
    filter: opacity(100%);
  }
}
@keyframes aparecerLateralI {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes aparecerLateralI2 {
  0%{
    transform: translateX(-100vw);
  }
  40%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes wap {
  0%{
    transform: translatey(100px);
  }
  70%{
    transform: translatey(100px);
  }
  80%{
    transform: translatey(-3px);
  }
  85%{
    transform: translatey(3px);
  }
  90%{
    transform: translatey(-2px);
  }
  95%{
    transform: translatey(1px);
  }
  100%{
    transform: translatey(0px);
  }
}
@keyframes cabi {
  0%{
    opacity: 0%;
  }
  93%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

@media (min-width: 900px) {
  body{
    background-image: url('./componentes/fondo1.png');
    background-position: top;
    background-size:cover;
    width: 100vw;
  }
  header{
    display: none;
  }
  .nav2{
    display: block;
    background-image: url('./componentes/logo.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 6vw;
  }
  .navegacion{
    height: 30px;
    position: relative;
    top: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .enlace{
    font-family: medium;
    display: flex;
    align-items: center;
    align-items: center;
    height: 110%;
    border-right: 2px solid white;
  }
  .navegacion a{
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    padding-right: 5px;
    padding-left: 5px;
    transition: 0.5s;
  }
  .navegacion a:hover{
    color: white;
  }
  h1{
    position: static;
    width: auto;
    font-size: 2vw;
    padding-left: 32vw;
  }
  .flecha{
    width: 30vw;
  }
  .titulo{
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .articulos{
    flex-direction: row-reverse;
    gap: 0;
  }
  .articulo1{
    flex-direction: row-reverse;
  }
  .img1{
    width: 28vw;
    height: auto;
    position: absolute;
    right: 10vw;
    animation: none;
    border-radius: 0;
  }
  .img2{
    position: absolute;
    left: 0;
    width: 35vw;
    height: auto;
    animation: none;
  }
  ul{
    position: absolute;
    font-size: 1.2vw;
    animation: none;
    left: 36vw;
  }
  .imgFooter{
    width: 10vw;
    bottom: 30px;
    left: 30px;
    height: auto;
    position: fixed;
  }
}
